<%- include('./partials/result_header')%>
    <div style="height: 700px; width: 1448px;background-image: url('https://thumbs.dreamstime.com/z/website-contact-page-concept-internet-icons-colorful-hanged-tags-isolated-white-background-32247395.jpg');">
        <h1 style="margin: 30px; padding: 30px; border: blue solid 3px; opacity: 1;">Contact Details</h1>
        <h3 style="margin-left: -800px; padding: 10px;"><b>LinkedIn</b> - <a class="link-info" href="https://www.linkedin.com/in/arijit-roy-470a2018b/" target="__blank">Arijit Roy</a></h3>
        <h3 style="margin-left: -350px; padding: 10px;">GitHub - <a class="link-info" href="https://github.com/Arijit6258" target="__blank">Arijit6258</a></h3>
    </div>

    </body>
</html>